@import "./config";
@import "Navbar/Navbar";
@import "Header/Header";
@import "Bookmarks/Bookmark";
@import "SearchResult/SearchResult";
@import "Searchbar/Searchbar";
@import "MovieInfo/MovieInfo";
@import "Pagination/Pagination";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
}

body {
    background-color: $primaryBgColor;
    overflow-x: hidden;
}

main {
    color: $primaryTextColor;
    width: 92%;
    margin: 0 auto;
}
.bookmarksHidden {
    transform: translateX(500px);
}
