@import "config";

nav {
  color: $primaryTextColor;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: $primaryColor;
  }

  button:hover {
    color: $hoverColor;
  }
  .logo img {
    width: 100px;
  }
}
